
.card-container {
	align-content: flex-start;
}

.card{
	flex: 1 1;
}

.card img {
	max-width: 100%;
}

.description {
	height: 8.3rem;
}





@media all and (min-width: 760px) {

.card .body {
	width: 29vw;
}

.card img {
	max-width: 100%;
	max-height: 30vw;
}

}

@media all and (min-width: 1280px) {

.card .body {
	width: 16.5vw;
}
}

@media all and (min-width: 1600px) {

.card .body {
	width: 13.5vw;
}
}