/*
Mobile

Card style
*/
.card-container {
	align-content: flex-start;
}

.card{
	flex: 1 1;
	max-width: 100%;
}

.card img {
	max-width: 100%;
}

.card .body {
	width: 91vw;
}

.card .body button{
	padding: 0.5rem 1rem;
	margin: 0 0.2rem .5rem 0;
}


.description {
	height: 8.3rem;
}
/* Login styles */
#login-form {
	display: none;
	position: fixed;
	background-color: white;
	padding: 1rem;
	bottom: 4rem;
	border-radius: 0.2em;
	box-shadow: 2px 2px 2px #0404044d;
	width: 91vw;
}

#loginError {
	display: none;
}

#loginBtn{
	padding: 0.5em;
	background-color: #0366EE;
	color: white;
	border-radius: 0.2em;
	bottom: 1em;
}

.header-title{
	flex: 1 1;
}

.footer{
	height: 6vw;
	padding: 1em;
}

@media all and (min-width: 560px) {
.card {
	width: 33vw;
}
.card .body {
	width: inherit;
	max-width: inherit;
}
.card img {
	max-width: 100%;
	max-height: 45vw;
}

}

@media all and (min-width: 760px) {
.header-title{
	flex: 3 1;
}
.card {
	max-width: 33vw;
}


.card img {
	max-width: 100%;
	max-height: 30vw;
}

#login-form {
	width: 34vw;
}

}

@media all and (min-width: 1280px) {


.header-title{
	flex: 3 1;
}

.card {
	max-width: 27vw;
}



.card img {
	max-width: 100%;
	max-height: 21vw;
}

#login-form {
	width: 24vw;
}

}

@media all and (min-width: 1600px) {
.card {
	max-width: 19vw;
}
}

@media all and (min-width: 3840px) {
.card {
	max-width: 7vw;
}
}